/*~ RESET CSS ~*/
@charset "UTF-8";
@font-face{
	font-family:Digital;
	src:url('/fonts/digital-clock.ttf');
}
@font-face{
	font-family:GoodTimes;
	src:url('/fonts/good-times.ttf');
}
@font-face{
	font-family:George;
	src:url('/fonts/George.ttf');
}
@font-face{
	font-family:Closeness;
	src:url('/fonts/closeness/Closeness.ttf');
}
@font-face{
	font-family:Closeness-bold;
	src:url('/fonts/closeness/Closeness-Bold.ttf');
}
@font-face{
	font-family:Closeness-bold-italic;
	src:url('/fonts/closeness/Closeness-Bold-Italic.ttf');
}
@font-face{
	font-family:seriff;
	src:url('/fonts/serif.ttf');
}
*{
	background:transparent;
	border:none;
	border-radius:0px 0px;
	color:rgba(255,255,255,1);
	font-family:arial;
	font-size:1.2vmin;
	outline: 0px;
	text-decoration:none;
	list-style:none;
	line-height:2vmin;
	margin:0px 0px;
	padding:0px 0px;
}
*:hover{
	outline: 0px;
}
*:active{
	outline: 0px;
}
*:focus{
	border: 0px;
	outline: 0px;
}
*:normal{
	outline: 0px;
}
html, body{
	width:100%;
	height:100%;
}